:root {
    --primary-color: #FF5722;
    --secondary-color: purple;
    --background-color: whitesmoke;
    --text-color: black;
    --highlight-color: green;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    overflow: auto; 
    scrollbar-width: none; 
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari */
}

.main{
    height: 100%;
}

.timer-bar-container {
    width: 60%; /* Adjust width */
    height: 40px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.timer-bar {
    width: 0%;
    height: 100%;
    background-color: green;
    transition: width linear;
}

#timer-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
    color: black;
    z-index: 804;
}



.single-player-container{
    width: 100%;
    height: 100%;
    display: flex;
}


.logo-container{
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    padding: 2%;
    background-color: var(--background-color);
    z-index: 998;
}


.logo{
    font-family: "arbuckle-black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: purple;
    z-index: 998;
}


.addbox{
    width: 209px;
    border: 1px solid black;
    background:  #FF5722;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.content-container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 88px;
    background-color: purple;
    margin-top: 180px;
}

.leaderboard{
    background: var(--background-color);
    border-radius: 15px;
    padding: 10px 20px;
    align-self: flex-start;
    position: fixed;
    left: 0.5%;
    top: 2%;
    z-index: 999;
}

.leaderboard-title{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.leaderboard-playername{
    font-size: 27px;
    font-weight: 500;
}

.description{
    font-size: 30px;
}
.current-player{
    font-size: 40px;
}

.word{
    display: flex;
    gap: 10px;
    font-size: 200px;
}

.transitionPurpleRed{
    width: 100%;
    height: 1000px;
    background: linear-gradient(to bottom, purple, red); 
}

#openChatArea {
    width: 100%;
    height: 900px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background: red;
    left: 0;
    transition: bottom 5s ease-in-out; 
    z-index: 600;
}


.open-chat-active {
    bottom: 0; 
}

#openChatWord {
    display: flex;
    gap: 10px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    justify-content: center;
    margin-top: 10px;
}

.countdown-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
    z-index: 1000;
    display: none;
}




